mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer(class=spec.__class)&attributes(attributes)
    .container
      .col-4
        .logo
          img(src="/images/wine-merchant-logo.svg", alt="Wine merchant logo")
      .col-4
        h5 Help & Services
        ul
          li
            a(href="#") Help center
          li
            a(href="#") Contact us
          li
            a(href="#") My Wine Merchant
          li
            a(href="#") Delivery options
          li
            a(href="#") Corporate orders
      .col-4
        h5 Shop Wine
        ul
          li
            a(href="#") Red wine
          li
            a(href="#") White wine
          li
            a(href="#") Champagne
          li
            a(href="#") Australian wine
          li
            a(href="#") Weekly specials
      .col-4
        h5 Contact
        ul
          li
            a(href="#") 380 Lonsdale street Melbourne, Victoria
          li
            a(href="#") 1300 025 959
          li
            a(href="#") hello@winemerchant.com
        .icons
          a(href="/product.html" title="facebook social media icon" style="background: url(/images/facebook.png) 100% 100% no-repeat;")
          a(href="/product.html" title="twitter social media icon" style="background: url(/images/twitter.png) 100% 100% no-repeat;")
          a(href="/product.html" title="linkedin social media icon" style="background: url(/images/linkedin.png) 100% 100% no-repeat;")
          a(href="/product.html" title="instagram social media icon" style="background: url(/images/instagram.png) 100% 100% no-repeat;")
          a(href="/product.html" title="youtube social media icon" style="background: url(/images/youtube.png) 100% 100% no-repeat;")

