// fans styles
.fans{
    text-align: center;
    margin: 80px 0 45px;
    .insta-reel{
        // display: flex;
        max-width: 1700px;
        margin: 0 auto;
    }
    .insta-card{
        // padding: 15px;
        // width: 100%;
        position: relative;
        p{
            margin-top: 50px;
        }
    }
    .fan{
        width: 100%;
        position: relative;
        padding: 5px;
    }
    .profile{
        position: absolute;
        left: 50%;
        top: 66%;
        transform: translate(-50%, -05%);
    }
}