// fans styles
.fans{
    text-align: center;
    margin: 80px 0 45px;
    .insta-reel{
        // display: flex;
        max-width: 1700px;
        margin: 0 auto;
    }
    .insta-card{
        // padding: 15px;
        // width: 100%;
        position: relative;
        h6{
            margin-top: 25px;
        }
    }
    .fan{
        width: 100%;
        position: relative;
        padding: 5px;
    }
    .profile{
        position: absolute;
        left: 50%;
        bottom: 11%;
        transform: translate(-50%, -05%);
    }
}