mixin fans(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .fans(class=spec.__class)&attributes(attributes)
    h2 Our Wine Merchant fans
    p Follow and connect with them on Instagram to share all of your wine tips.
    ul.insta-reel
      li.insta-card
        img.fan(src="images/fan-01.png", alt="")
        img.profile(src="images/profile-01.png", alt="")
        p.large @janekemp
      li.insta-card
        img.fan(src="images/fan-02.png", alt="")
        img.profile(src="images/profile-02.png", alt="")
        p.large @becmiller
      li.insta-card
        img.fan(src="images/fan-03.png", alt="")
        img.profile(src="images/profile-03.png", alt="")
        p.large @garypayton
      li.insta-card
        img.fan(src="images/fan-04.png", alt="")
        img.profile(src="images/profile-04.png", alt="")
        p.large @tessgrey
      li.insta-card
        img.fan(src="images/fan-05.png", alt="")
        img.profile(src="images/profile-05.png", alt="")
        p.large @shawnkemp
      li.insta-card
        img.fan(src="images/fan-06.png", alt="")
        img.profile(src="images/profile-06.png", alt="")
        p.large @emilyloz