// wine-card styles
.wine-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    .wine-card{
        width: 25%;
        font-family: $monty;
        padding: 16px;
        border: 1px solid white;
        &:hover{
            box-shadow: 0 0 40px 1px rgba(0,0,0,0.1);
            border: 1px solid rgba(0,0,0,0.1);
            transition: 0.3s;
            > .hidden-items{
                visibility: visible;
            }
        }
    }
    li > img{
        margin: 0 auto;
        display: block;
    }
    p.wine-name{
        font-weight: 400;
        font-size: 18px;
    }
    span{
        font-weight: 500;
    }
    .align-btns{
        display: flex;
        justify-content: space-between;
    }
}
.star{
    height: 16px;
}
.star-holder{
    display: inline;
}