mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.menu(class=spec.__class)&attributes(attributes)
    ul.left-side
      li Find a Store
      li Wine Club
      li Winemakers
    a(href="/").logo
      img(src="/images/wine-merchant-logo.svg", alt="")
    ul.right-side
      li Shop
      li Login
      li My Cart
      img(src="images/cart.png", alt="")
      img(src="images/12.png", alt="")

