mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.menu(class=spec.__class)&attributes(attributes)
    ul.left-side
      li 
        a(href="/product.html") Find a Store
      li 
        a(href="/product.html") Wine Club
      li 
        a(href="/product.html") Winemakers
    a(href="/").logo
      img(src="/images/wine-merchant-logo.svg", alt="")
    ul.right-side
      li 
        a(href="/product.html") Shop
      li 
        a(href="/product.html") Login
      li 
        a(href="/product.html") My Cart
      img.cart(src="images/cart.png", alt="")
      .cart-num
        img(src="images/12.png", alt="")

