mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.menu(class=spec.__class)&attributes(attributes)
    ul
      li Find a Store
      li Wine Club
      li Winemakers
    .logo
      img(src="/images/wine-merchant-logo.svg", alt="")
    ul
      li Shop
      li Login
      li My Cart

