mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.menu(class=spec.__class)&attributes(attributes)
    ul.left-side
      li 
        a(href="/product.html" title="Find a Store") Find a Store
      li 
        a(href="/product.html" title="Wine Club") Wine Club
      li 
        a(href="/product.html" title="Winemakers") Winemakers
    a(href="/" title="wine merchant logo").logo
      img(src="/images/wine-merchant-logo.svg", alt="Logo")
    ul.right-side
      li 
        a(href="/product.html" title="Shop") Shop
      li 
        a(href="/product.html" title="Login") Login
      li 
        a(href="/product.html" title="My Cart") My Cart
      li
        a(href="/product.html" title="Shopping cart")
          img.cart(src="images/cart.png", alt="Shopping cart")
          .cart-num
            img(src="images/12.png", alt="Number of items in cart")

