extends _layouts/base

include _modules/header/header
include _modules/search-bar/search-bar
include _modules/wine-card/wine-card

block content

  +header
  main
    p The best independent and specialty wines.
    p shop now
  +search-bar
  h2 This week at the wine merchant
  +wine-card
