extends _layouts/base

include _modules/header/header
include _modules/search-bar/search-bar
include _modules/wine-card/wine-card
include _modules/cookbook/cookbook
include _modules/fans/fans
include _modules/footer/footer

block content

  +header
  .hero
    .title 
      h1 The best independent and specialty wines.
      button shop now
  .container
    +search-bar
    h3.section-title This week at the wine merchant
    +wine-card
  .expert
  .expert-card
    h2 Need advice from our experts?
    p Let our expert wine connoisseurs guide you to making the best purchase decision. The experts are here to help you choose your wine.
    button get expert advice
  .container
    +cookbook
  +fans
  .container.intercom
    img(src="images/intercom.png", alt="")
  +footer
