extends _layouts/base

include _modules/header/header
include _modules/search-bar/search-bar
include _modules/wine-card/wine-card
include _modules/footer/footer

block content

  +header
  .hero
    .title 
      h1 The best independent and specialty wines.
  .container
    +search-bar
    h2 This week at the wine merchant
    +wine-card
  .expert
    .expert-card
  +footer
